.root{
-fx-background-color:#ffffcc;
-fx-height: 600;
-fx-width: 1000;
}
.label{
-fx-background-color:#ff6666;
-fx-allignment:" Center";
-fx-text-fill: black;
-fx-font-family: "Arial";
-fx-font-weight: bold;

-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5);
}
.button{
    -fx-background-color:#0099cc;
    -fx-font-family: "Verdana";
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-color:#000000;
-fx-border-style: solid;
-fx-border-radius: 20;
-fx-background-insets: 3;
-fx-padding: 14;

-fx-text-alignment: center;
-fx-background-radius: 20;



}
.anchorpane{
-fx-preHeight:"600";
}
.table-view {
-fx-background-color: #f2f2f2;
-fx-border-width: 1;
 -fx-border-color: #cccccc;
  -fx-font-weight: bold;
}
.table-cell {
    -fx-text-fill: #333333;
     -fx-padding: 5px;
     -fx-alignment: center-left;
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.text-field {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #333333;
   // -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #999999;
    -fx-border-color: #999999;
 //   -fx-border-width: 2px;
    -fx-border-radius: 5px;
  //  -fx-padding: 5px;
}
button:selected {
    -fx-background-color: #ff0000;
     //  -fx-font-weight: bold;
}
.table-column .text-cell {
    -fx-alignment: center-left;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 0px;
    -fx-border-insets: 0px;
}
